        <article class="post">
            <div>
                <p>{{post.artist}}</p>
                <p>{{post.title}}</p>
                <p>{{post.genre}}</p>
                <p>{{post.user.firstName}} {{post.user.lastName}} on {{post.created_at}}</p>
            </div>
            <div>
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/150"></a>
            </div>
            <div class="meta">
                <p>♫<span>{{post.vote_count}}</span></p>
                <p>{{ post.content }}</p>
                <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
            </div>
        </article>

    