<main class="user-page">
    <header class="header-user">
        <h1>Hi {{ user.firstName }}</h1>
    </header>
    <section class="user-account-info user-test">
        <div>
            <h3>Account Info</h3>
            <div>
                <p>{{ user.firstName }}</p>
                <p>{{ user.lastName }}</p>
                <p>{{ user.userName }}</p>
                <p>{{ user.email }}</p>
            </div>
        </div>
        <div class="user-about-me">
            <h3>About Me</h3>
            <div>
                <p>{{ user.bio }}</p>
                <p>{{ user.musicGenre }}</p>
            </div>
        </div>
        <div>
            <button id="btnLogout" class="btnLogout">Logout</button>
        </div>
    </section>
</main>

<!-- js/scripts start -->
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
<!-- js/scripts end -->