<main class="feed">
    <!-- posts start -->
        <section class="feed flex flex-col justify-center">
            <header class="header py-6"><h2>Feed</h2></header>
              <ol>
                {{#each posts}}
                  <li>
                    <article class="post">
                     <div>
                      <h3>test{{user.firstName}} {{user.lastName}} </h3>
                      <h4>{{created_at}}</h4>
                      <div class="album"><img src="/stylesheets/svg/album.jpg"></div>

                        <div class="post-content flex-row">
                          <p>Artist:{{artist}}</p>
                          <p>Song Title:{{title}}</p>
                           </div>
                      </div>
                    </article>
                </li>
            {{/each}}
        </ol>
 
        </section>

    <!-- posts end -->

    <!-- navigation starts -->
        <nav class="nav flex">

            <button class="btn-new-post py-2 " onclick="document.getElementById('modalNewPost').style.display='block'">Create Post</button>
        </nav>
    <!-- navigation ends -->

    <!--Feed List-->


    <!-- new-post modal starts -->
        <section id="modalNewPost" class="modal-new-post">
            <span onclick="document.getElementById('modalNewPost').style.display='none'" class="close" title="Close Modal">&times;</span>
            
            {{> new-post }}
        </section>
    <!-- new-post modal ends -->
</main>

<script src="/javascript/add-post.js"></script>