<main class="feed">
    <!-- header starts -->
    <header class="header">
        <h2>Feed</h2>
    </header>
    <!-- header ends -->

        <ol>
            {{#each posts}}
            <li>
                <article class="post">
                <div>
                    <p>{{artist}}</p>
                    <p>{{title}}</p>
                    <p>{{genre}}</p>
                    <p>{{user.firstName}} {{user.lastName}} on {{created_at}}</p>
                </div>
                <div>
                    <a href="https://placeholder.com"><img src="https://via.placeholder.com/150"></a>
                </div>
                <div class="meta">
                    <p>♫<span>{{vote_count}}</span></p>
                    <p>{{ content }}</p>
                    <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
                </div>
        </article>

            </li>
            {{/each}}
        </ol>
    <!-- posts end -->

    <!-- navigation starts -->
        <nav class="nav">
            {{#if loggedIn}}
            <a href="/dashboard">Account</a>
            <button class="btn-new-post" onclick="document.getElementById('modalNewPost').style.display='block'">Create Post</button>
            {{else}}
            <a href="/">Login/Sign-Up</a>
            {{/if}}
        </nav>
    <!-- navigation ends -->

    <!--Feed List-->


    <!-- new-post modal starts -->
        <section id="modalNewPost" class="modal-new-post">
            <span onclick="document.getElementById('modalNewPost').style.display='none'" class="close" title="Close Modal">&times;</span>
            
            {{> new-post }}
        </section>
    <!-- new-post modal ends -->
</main>

<script src="/javascript/add-post.js"></script>