<main class="feed">
    <!-- header starts -->
    
    <!-- header ends -->
    
    <!-- posts start -->
        <section class="feed flex flex-col justify-center">
            <header class="header py-6"><h2>Feed</h2></header>
          <article class="post">
            <div>
                <h3>Nathaly Calderon {{post.user.firstName}} {{post.user.lastName}} </h3>
                <h4>6/27/2020{{post.created_at}}</h4>
                <div class="album"><img src="/stylesheets/svg/album.jpg"></div>

                <div class="post-content flex-row">
                    <p>Dirty Heads{{post.artist}}</p>
                    <p>Crow Bar Hotel{{post.title}}</p>
                </div>
               
                <div class="comment-box">
                <input class="input" type="text" id="comment" placeholder="All the great things about this song..">
                </div>
            </div>
        </article>
        
            <ol class="post-list">
                <!-- posts array -->
                {{#each posts as |post|}}
                <li>
                    {{> post-info post }}
                </li>
                {{/each}}
            </ol>
        </section>
    <!-- posts end -->

    <!-- navigation starts -->
        <nav class="nav flex">
            <img src="/stylesheets/svg/nav-icon-03.svg" class="nav-icon self-center">
           
            <button class="btn-new-post py-2 " onclick="document.getElementById('modalNewPost').style.display='block'">Create Post</button>
        </nav>
    <!-- navigation ends -->

    <!--Feed List-->


    <!-- new-post modal starts -->
        <section id="modalNewPost" class="modal-new-post">
            <span onclick="document.getElementById('modalNewPost').style.display='none'" class="close" title="Close Modal">&times;</span>
            
            {{> new-post }}
        </section>
    <!-- new-post modal ends -->
</main>